
.env
.idea/.gitignore
.idea/codeStyles/
.idea/inspectionProfiles/
.idea/map-app.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcc.xml
.idea/vcs.xml
back-end/data/bd_data.xlsx
back-end/data/incidents.xlsx
back-end/database_managment/
back-end/mapApp/
Would skip repository front-end/front-map-app
front-end/node_modules
front-end/package-lock.json
media/
